$offWhite: #EEE8D6;
$darkBlue: #022933;
$aePink: rgba(252, 81, 241, 1);
$aeLavender: rgba(210, 145, 255, 1);
$aeIndigo: rgba(31, 0, 64, 1);
$aeCherry: rgba(236, 40, 53, 1);
$aeYellow: rgba(255, 253, 110, 1);
$aeOrange: rgba(255, 136, 40, 1);
$aeGold: rgba(254, 223, 139, 1);
$aeCarmine: rgba(26, 17, 18, 1);

$color-main: $aeGold;
$color-background: $aeIndigo;

$font-main: 'Montserrat', sans-serif;