/* buttons */
.btn-primary-cust {
  border-radius: 0;
  background-color: #b6ff14;
  border: solid 2px #000;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-primary-cust:hover {
  background-color: #282b36;
  color: #fff;
}