.jumbo-intro {
    background-image: url("../images/carousel.jpg");
    background-repeat: no-repeat;
    background-position: center; 
}

@media (max-width: 575px) {
    .jumbo-intro {
        background-image: url("../images/jt-mobile.jpg");;
        background-repeat: no-repeat;
        background-position: center; 
    }
}

.jumbo-intro {
    color: #fff;
}

.jumbo-intro {
    margin-bottom: 0;
    height: 460px;
}

.jumbo-intro h3 {
    font-weight: 100;
}

.intro-block-1 {
    background-color: $TielTrans50;
}

.intro-block-2 {
    background-color: $BlueTrans50;
}

.intro-block-3 {
    background-color: $GreenTrans50;
}
