.cta {
    height: auto;
    background-size: 50px;
}

.cta1 {
    background-color: $dnGreen;
}




.cta a {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: $White;
}

.btn-cta-arrow {
  width: 44px;
  margin-top: -10px;
}

.jumbotron .row {
    margin-top: 70px;
}

.jumbotron h1 {
    margin-bottom: 30px;
}

.cta1-link {
    margin-top: 4px;
}
