

.nav-container,
.navbar-inverse {
    background-color: $dnBlue !important;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

/* color top-level nav elements white */
.nav-link {
    color: #fff !important;
}



/* embolden active nav element */
.active {
    font-weight: 900;
}


/* center main navigation when not in mobile toggle mode */
@media (min-width: 1200px) {
    #navbarNavDropdown {
    justify-content: center;
}
}


.navbar-toggler-right {
    position: relative;
    right: 0em;
}