footer {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.logo-footer {
    width: 200px;
}

.copyright-text {
    font-size: 0.7rem;
}

.footer-row {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.footer-contact {
    text-decoration: none!important;
    color: #fff !important;
}